/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box
}

body,
html,
#root {
	height: 100%;
	overflow: hidden;
}

/*滚动条样弝*/
::-webkit-scrollbar {
	/*滚动条整体样弝*/
	width: 6px;
	/*高宽分别对应横竖滚动条的尺寸*/
	height: 6px;
	z-index: 2;
}

::-webkit-scrollbar-thumb {
	/*滚动条里面尝方块*/
	background: rgba(225, 226, 230, 1);
	border-radius: 3px;
	transition: all .3s;

	&:hover {
		background-color: #666;
	}
}

::-webkit-scrollbar-track {
	/*滚动条里面轨靓*/
	border-radius: 0;
	background: transparent;
	cursor: pointer;
}

.ant-layout {
	height: 100%;
}

.ant-layout-content {
	background: #fff;
}